$app-menu-width: 300px !default;

$app-toolbar-height: 60px !default; // = $mat-toolbar-height-mobile + 4 (progress bar);

$app-form-color: rgba(0, 0, 0, 0.87) !default;
$app-form-color-disabled: rgba(0, 0, 0, 0.55) !default;

$app-table-header-height: 44px !default;
$app-table-cell-vertical-padding: 8px !default;
$app-table-row-max-height: 52px !default;

$app-paginator-height: 34px !default;
$app-form-buttons-bar-height: 56px !default;
