.table-container {

  .mat-table {

    .mat-column-select {
      min-width: 30px;
    }
    .mat-column-id {
      min-width: 30px;
      max-width: 30px;
    }
    .mat-column-label,
    .mat-column-name,
    .mat-column-statusId {
      min-width: 150px;
    }
    .mat-column-comments {
      min-width: 100px;
      max-width: 100px;
    }
  }
}
