<ion-toolbar color="primary">
  <ion-buttons slot="end">


    <ng-container *ngIf="!selection.hasValue(); else hasSelection">
      <!-- Add -->
      <button mat-icon-button
              *ngIf="canEdit && !mobile"
              [title]="'COMMON.BTN_ADD'|translate"
              (click)="addRow()">
        <mat-icon>add</mat-icon>
      </button>

      <!-- reset filter -->
      <button mat-icon-button (click)="resetFilter()"
              *ngIf="filterCriteriaCount">
        <mat-icon color="accent">filter_list_alt</mat-icon>
        <mat-icon class="icon-secondary" style="left: 16px; top: 5px; font-weight: bold;">close</mat-icon>
      </button>

      <!-- show filter -->
      <button mat-icon-button (click)="filterExpansionPanel.toggle()">
        <mat-icon *ngIf="filterCriteriaCount; else emptyFilter"
                  [matBadge]="filterCriteriaCount"
                  matBadgeColor="accent"
                  matBadgeSize="small"
                  matBadgePosition="above after">filter_list_alt</mat-icon>
        <ng-template #emptyFilter>
          <mat-icon>filter_list_alt</mat-icon>
        </ng-template>
      </button>

      <!-- start/stop timer to auto-load data -->
      <ion-button *ngIf="!timer" (click)="startTimer()">Start reload</ion-button>
      <ion-button *ngIf="timer" (click)="stopTimer()" color="accent">Stop reload</ion-button>
    </ng-container>

    <!-- if row selection -->
    <ng-template #hasSelection>

      <!-- delete -->
      <button mat-icon-button
              *ngIf="canEdit" [title]="'COMMON.BTN_DELETE'|translate"
              (click)="deleteSelection($event)" >
        <mat-icon>delete</mat-icon>
      </button>

      <!-- duplicate -->
      <button mat-icon-button
              *ngIf="canEdit && selection.selected | isArrayLength: {equals: 1}"
              [title]="'COMMON.BTN_DUPLICATE'|translate"
              (click)="duplicateRow($event, selection.selected[0])" >
        <mat-icon>file_copy</mat-icon>
      </button>
    </ng-template>
  </ion-buttons>
</ion-toolbar>
<ion-content class="ion-no-padding">

  <ion-refresher slot="fixed" *ngIf="mobile" (ionRefresh)="doRefresh($event)" >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- error -->
  <ion-item *ngIf="mobile && error" lines="none" @slideUpDownAnimation>
    <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
    <ion-label color="danger" class="error" [innerHTML]="error|translate"></ion-label>
  </ion-item>

  <!-- search -->
  <mat-expansion-panel #filterExpansionPanel class="filter-panel filter-panel-floating">
    <form class="form-container ion-padding-top" [formGroup]="filterForm" (ngSubmit)="applyFilterAndClosePanel($event)">

      <ion-grid>
        <ion-row>
          <ion-col>
            <!-- search text -->
            <mat-form-field>
              <ion-icon matPrefix name="search"></ion-icon>
              <input matInput
                     formControlName="searchText"
                     autocomplete="off"
                     [placeholder]="'TABLE.TESTING.SEARCH_TEXT'|translate">
              <button mat-icon-button matSuffix tabindex="-1"
                      type="button"
                      (click)="clearControlValue($event, filterForm.controls.searchText)"
                      [hidden]="filterForm.controls.searchText.disabled || !filterForm.controls.searchText.value">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>

    <mat-action-row>
      <!-- Counter  -->
      <ion-label [hidden]="(loadingSubject|async) || filterForm.dirty"
                 [color]="empty && 'danger'"
                 class="ion-padding">
        {{ (totalRowCount ? 'COMMON.RESULT_COUNT' : 'COMMON.NO_RESULT') | translate: {count: (totalRowCount |
          numberFormat)} }}
      </ion-label>

      <div class="toolbar-spacer"></div>

      <!-- Close panel -->
      <ion-button mat-button fill="clear" color="dark"
                  (click)="filterExpansionPanel.close()"
                  [disabled]="loadingSubject|async">
        <ion-text translate>COMMON.BTN_CLOSE</ion-text>
      </ion-button>

      <!-- Search button -->
      <ion-button mat-button
                  [color]="filterForm.dirty ? 'tertiary' : 'dark'"
                  [fill]="filterForm.dirty ? 'solid' : 'clear'"
                  (click)="applyFilterAndClosePanel($event)">
        <ion-text translate>COMMON.BTN_APPLY</ion-text>
      </ion-button>
    </mat-action-row>
  </mat-expansion-panel>

  <!-- table -->
  <div [class.table-container]="!enableInfiniteScroll">
    <table #table mat-table matSort matSortDisableClear
           [dataSource]="dataSource"
           [matSortActive]="defaultSortBy"
           [matSortDirection]="defaultSortDirection"
           [trackBy]="trackByFn">

      <!-- group header cells -->

      <ng-container matColumnDef="top-start" sticky>
        <th mat-header-cell *matHeaderCellDef [class.cdk-visually-hidden]="!canEdit" [attr.colspan]="2">
          <!-- start spacer -->
        </th>
      </ng-container>

      <ng-container matColumnDef="group-1">
        <th mat-header-cell *matHeaderCellDef [attr.colspan]="2" style="background-color: whitesmoke; margin-bottom: -1px;">
          <ion-label translate>{{i18nColumnPrefix + 'GROUP_1'}}</ion-label>
        </th>
      </ng-container>

      <ng-container matColumnDef="group-2">
        <th mat-header-cell *matHeaderCellDef [attr.colspan]="2">
          <ion-label translate>{{i18nColumnPrefix + 'GROUP_2'}}</ion-label>
        </th>
      </ng-container>

      <ng-container matColumnDef="top-end" sticky>
        <th mat-header-cell *matHeaderCellDef>
          <!-- end spacer -->
        </th>
      </ng-container>

      <ng-container matColumnDef="select" sticky>
        <th mat-header-cell *matHeaderCellDef [class.cdk-visually-hidden]="!canEdit">
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row" [class.cdk-visually-hidden]="!canEdit">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Id column -->
      <ng-container matColumnDef="id" sticky>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <ion-label>#</ion-label>
        </th>
        <td mat-cell *matCellDef="let row">{{ row.currentData?.id }}</td>
      </ng-container>

      <!-- Label column -->
      <ng-container matColumnDef="label" sticky>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <ion-label translate>TABLE.TESTING.LABEL</ion-label>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-form-field floatLabel="never">
            <input matInput [formControl]="row.validator.controls['label']" [placeholder]="'TABLE.TESTING.LABEL'|translate"
                   [appAutofocus]="row.id == -1 && row.editing" [readonly]="!row.editing">
            <mat-error *ngIf="row.validator.controls['label'].hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
          </mat-form-field>
        </td>
      </ng-container>

      <!-- Name column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <ion-label translate>TABLE.TESTING.NAME</ion-label>
        </th>
        <td mat-cell *matCellDef="let row" [class.mat-form-field-disabled]="!row.editing">
          <mat-form-field floatLabel="never">
            <input matInput [formControl]="row.validator?.controls.name" [placeholder]="'TABLE.TESTING.NAME'|translate"
                   [readonly]="!row.editing">
            <mat-error *ngIf="row.validator?.controls.name.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
          </mat-form-field>
        </td>
      </ng-container>

      <!-- Status column  -->
      <ng-container matColumnDef="statusId">
        <th mat-header-cell *matHeaderCellDef>
          <span translate>USER.STATUS</span>
        </th>
        <td mat-cell *matCellDef="let row" [class.mat-form-field-disabled]="!row.editing">
          <mat-form-field floatLabel="never">
            <ion-icon matPrefix *ngIf="row.validator.controls['statusId'].value &gt;=0" [name]="statusById[row.validator.controls['statusId'].value]?.icon"></ion-icon>

            <mat-select [formControl]="row.validator.controls['statusId']" [placeholder]="i18nColumnPrefix + 'STATUS_ID'|translate">
              <mat-select-trigger>
                <span *ngIf="row.validator.controls['statusId'].value &gt;=0">
                  {{ statusById[row.validator.controls['statusId'].value]?.label | translate}}</span>
              </mat-select-trigger>
              <mat-option *ngFor="let item of statusList" [value]="item.id">
                <ion-icon [name]="item.icon"></ion-icon>
                {{ item.label |translate }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="row.validator.controls['statusId'].hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
          </mat-form-field>
        </td>
      </ng-container>

      <!-- Creation date column -->
      <ng-container matColumnDef="updateDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <ion-label translate>TABLE.TESTING.UPDATE_DATE</ion-label>
        </th>
        <td mat-cell *matCellDef="let row" class="mat-form-field-disabled">
          <ion-text class="ion-text-end" color="medium" *ngIf="row.id!==-1">
            <small [matTooltip]="'TABLE.TESTING.CREATION_DATE'|translate" *ngIf="row.currentData.creationDate; let creationDate">
              <ion-icon name="calendar"></ion-icon> {{ creationDate | dateFormat: {time: true} }}
            </small><br/>
            <small [matTooltip]="'TABLE.TESTING.UPDATE_DATE'|translate" *ngIf="row.currentData.updateDate; let updateDate">
              <ion-icon name="time-outline"></ion-icon> {{ updateDate | dateFormat: {time: true} }}
            </small>
          </ion-text>
        </td>
      </ng-container>

      <!-- Comment column -->
      <ng-container matColumnDef="comments">
        <th mat-header-cell *matHeaderCellDef>
          <ion-label translate>TABLE.TESTING.COMMENTS</ion-label>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-form-field floatLabel="never" *ngIf="row.editing; else iconComment">
            <!--<textarea matInput [formControl]="row.validator?.controls.comments"
                      [placeholder]="'TABLE.TESTING.COMMENTS'|translate"
                      [readonly]="!row.editing"></textarea>-->

            <input type="text" matInput [formControl]="row.validator?.controls.comments"
                      [placeholder]="'TABLE.TESTING.COMMENTS'|translate"
                      [readonly]="!row.editing">
          </mat-form-field>

          <ng-template #iconComment>
            <mat-icon class="comment"
                      *ngIf="row.validator?.controls.comments.value"
                      [title]="row.validator?.controls.comments.value"></mat-icon>
          </ng-template>
        </td>
      </ng-container>

      <!-- Actions buttons column -->
      <app-actions-column (optionsClick)="openSelectColumnsModal($event)"
                          (cancelOrDeleteClick)="cancelOrDelete($event.event, $event.row)"
                          (confirmAndAddClick)="confirmAndAdd($event.event, $event.row)">
      </app-actions-column>

      <tr mat-header-row *matHeaderRowDef="groupColumns;"></tr>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          [class.mat-row-error]="row.validator?.invalid"
          [class.mat-row-disabled]="!row.editing"
          [class.mat-row-dirty]="row.validator?.dirty"
          (click)="clickRow($event, row)"></tr>
    </table>

    <ng-container *ngIf="loadingSubject|async; else noResult">
      <ion-item>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-item>
    </ng-container>

    <ng-template #noResult>
      <ion-item *ngIf="totalRowCount === 0">
        <ion-text color="danger" class="text-italic" translate>COMMON.NO_RESULT</ion-text>
      </ion-item>
    </ng-template>

    <ion-infinite-scroll *ngIf="enableInfiniteScroll"
                         [threshold]="mobile ? '10%' : '2%'" position="bottom"
                         (ionInfinite)="loadMore($event)">
      <ion-infinite-scroll-content
        loadingSpinner="circles"
        [loadingText]="'COMMON.LOADING_DOTS'|translate">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>

<ion-footer>
  <!-- Paginator  -->
  <mat-paginator *ngIf="!enableInfiniteScroll"
                 [length]="totalRowCount" [pageSize]="defaultPageSize" [pageSizeOptions]="defaultPageSizeOptions"
                 class="mat-paginator-footer"
                 showFirstLastButtons>
  </mat-paginator>

  <app-form-buttons-bar *ngIf="canEdit && !mobile"
                    (onCancel)="load()"
                    (onSave)="save()" [disabled]="(loadingSubject|async) || !dirty">
    <!-- error -->
    <ion-item *ngIf="error$|async" lines="none">
      <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
      <ion-label color="danger" [innerHTML]="error|translate"></ion-label>
    </ion-item>
  </app-form-buttons-bar>
</ion-footer>

<ion-fab slot="fixed" vertical="bottom" horizontal="end"
         *ngIf="canEdit && mobile">
  <ion-fab-button color="tertiary" (click)="addRow($event)">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
