<ion-header>
  <ion-toolbar color="light">

    <ion-title>
      {{'ABOUT.TITLE'|translate}}
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="close()" visible-xs visible-sm visible-mobile>
        {{'COMMON.BTN_CLOSE'|translate}}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list no-line>

    <!-- Version info -->
    <ion-item>
      <span slot="start">&nbsp;</span>
      <ion-label class="ion-text-wrap">
        <h2>
          {{'APP_NAME'|translate}}
          <span [innerHTML]="'ABOUT.VERSION'| translate: {version: appVersion}"></span>
        </h2>
        <p [innerHTML]="'ABOUT.LICENSE'| translate"></p>
      </ion-label>
    </ion-item>

    <!-- Report issue -->
    <ion-item *ngIf="reportIssueUrl">
      <ion-icon slot="start" name="bug" color="dark"></ion-icon>
      <ion-label>
        <p>
          {{'ABOUT.REPORT_ISSUE'|translate}}
        </p>
        <p>
          <a color="primary" href="{{reportIssueUrl}}" target="_system" translate>ABOUT.BTN_REPORT_ISSUE</a>
        </p>
      </ion-label>
    </ion-item>

    <!-- Source code -->
    <ion-item *ngIf="sourceUrl">
      <ion-icon slot="start" name="code" color="dark"></ion-icon>
      <ion-label>
        <p>
          {{'ABOUT.SOURCE_CODE'|translate}}
        </p>
        <p>
          <a color="primary" href="{{sourceUrl}}" target="_system">{{sourceUrl}}</a>
        </p>
      </ion-label>
    </ion-item>

    <!-- Developers -->
    <ion-item>
      <ion-icon slot="start" name="people" color="dark"></ion-icon>
      <ion-label>
        <p>
          {{'ABOUT.DEVELOPED_BY'|translate}}
        </p>
        <p>
          <a color="primary" href="https://www.e-is.pro" target="_system">Environment Information Systems</a> - contact (at) e-is.pro
        </p>
      </ion-label>
      <a float-end href="https://www.e-is.pro" target="_system">
        <img src="assets/img/logo/logo-eis_50px.png">
      </a>
    </ion-item>

    <!-- Partners -->
    <ion-item class="item-partners" *ngIf="partners | isNotEmptyArray">
      <ion-icon slot="start" name="megaphone" color="dark"></ion-icon>
      <ion-label>
        <p>{{'ABOUT.PARTNERS'|translate}}</p>
        <p>
          <a *ngFor="let item of partners" href="{{item.siteUrl}}" target="_system">
            <img src="{{item.logo}}">
          </a>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer hidden-xs hidden-sm hidden-mobile>
  <ion-toolbar>
    <ion-row class="ion-no-padding" nowrap>
      <ion-col></ion-col>
      <ion-col size="auto">
        <ion-button fill="solid" color="tertiary" (click)="close()">{{'COMMON.BTN_CLOSE'|translate}}</ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
